/* Estilos para el contenedor principal */
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0f0f0; /* Fondo gris claro */
}

/* Estilos para el formulario de inicio de sesión */
.form-container {
  max-width: 400px;
  width: 100%;
  padding: 30px; /* Aumentamos el padding para más espacio */
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); /* Sombra más suave y elevada */
  background-color: #ffffff; /* Fondo blanco */
}

/* Estilos para el logo de Panasonic */
.panasonic-logo {
  width: 200px; /* Reducimos un poco el tamaño del logo */
  margin-bottom: 30px; /* Más espacio debajo del logo */
}

/* Estilos para los elementos del formulario */
.form-container label {
  font-size: 1.1em; /* Tamaño de fuente un poco más grande */
  margin-bottom: 15px; /* Espacio menor entre elementos */
}

.form-container input[type="email"],
.form-container input[type="password"] {
  width: 100%; /* Ancho completo */
  padding: 12px;
  margin-bottom: 25px; /* Mayor espacio inferior */
  border: 2px solid #ccc; /* Borde más grueso */
  border-radius: 8px;
  box-sizing: border-box;
  font-size: 1em; /* Tamaño de fuente estándar */
}

.form-container button {
  width: 100%;
  padding: 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1.1em;
  transition: background-color 0.3s ease; /* Transición suave en el cambio de color */
  margin-bottom: 20px;
}

.form-container button:hover {
  background-color: #0957ac; /* Cambio de color verde oscuro al hacer hover */
}

/* Contenedor principal */
.password-reset-container {
  max-width: 400px;
  width: 100%;
  padding: 30px; /* Aumentamos el padding para más espacio */
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); /* Sombra más suave y elevada */
  background-color: #ffffff; /* Fondo blanco */
}

/* Botón principal */
.password-reset-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.password-reset-button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

/* Formularios */
.password-reset-form {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 100%;
  max-width: 400px;
  margin-top: 20px;
  transition: opacity 0.5s ease;
}

.password-reset-form.hidden {
  opacity: 0;
  height: 0;
  overflow: hidden;
}

.password-reset-form.visible {
  opacity: 1;
  height: auto;
}

/* Campos de entrada */
.password-reset-form input {
  width: calc(100% - 20px);
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

/* Botones dentro de los formularios */
.password-reset-form button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.password-reset-form button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.custom-link {
  padding-left: 20px;
}